# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# obsidian
data.json

# Local dev install vault path (per-developer)
.env.local

# Exclude macOS Finder (System Explorer) View States
.DS_Store
